* {
  overflow: visible;
  font-family: "Rubik", sans-serif;
  /* color: red; */
}

html {
  background-color: black;
}

body {
  background-color: white;
  position: absolute;
  width: 640px;
  height: 400px;
  margin: 0;
}

.icon {
  width: 64px;
  height: 64px;
  font-size: 24pt;
  text-align: center;
  line-height: 64px;
}

/* GENERAL STYLES */

.temps-max {
  color: red;
  font-weight: 500 !important;
}

/* TODAY HEADER */

#today-header {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0px;
  left: 10px;
}

#today-date-weekday {
  font-size: 45pt;
  font-weight: lighter;
}

#today-date-daymonth {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 16pt;
}

#today-date-day {
  font-weight: bold;
}

/* TODAY SHORT TEXT */

#today-shorttext {
  position: absolute;
  top: 80px;
  left: 10px;
  font-size: 18pt;
  font-weight: 500;
}

/* TODAY ICON */

#today-icon {
  position: absolute;
  top: 120px;
  left: 10px;
  width: 160px;
  height: 160px;
  font-size: 60pt;
  line-height: 160px;
}

/* TODAY TEMPS */

#today-temps {
  position: absolute;
  display: flex;
  top: 120px;
  left: 190px;
  font-size: 12pt;
}

#today-temps > span {
  margin-right: 15px;
}

.today-temps-heading {
  font-size: 12pt;
  font-weight: 500;
  margin-bottom: -3px;
}

.today-temps-numeral {
  font-size: 50pt;
  font-weight: lighter;
  margin-bottom: -10px;
}

/* TODAY STATS */
.today-stats-line {
  display: flex;
  align-items: baseline;
  margin-bottom: -5px;
}

.today-stats-heading {
  font-size: 12pt;
  font-weight: 500;
  margin-bottom: -3px;
}

.today-stats-numeral {
  font-size: 28pt;
  font-weight: 500;
}

.today-stats-decimal {
  font-size: 20pt;
  font-weight: 500;
}

.today-stats-units {
  font-size: 16pt;
  font-weight: 500;
}

.today-stats-tail {
  font-size: 12pt;
}

#today-stats-rain {
  position: absolute;
  top: 215px;
  left: 190px;
}

#today-stats-temp {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

/* TODAY GRAPH */

#today-graph {
  position: absolute;
  bottom: 5px;
  left: 110px;
  right: 200px;
  height: 70px;
}

/* FORECAST */
