<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            margin: 10px;
        }

        h1,
        p {
            font-family: Rubik;
        }

        p,
        pre {
            font-size: larger;
        }
    </style>
</head>

<body>
    <h1>Sorry, cannot show the weather because there was an error</h1>
    <p>It will be fixed shortly, I promise :)</p>
    <p>The error was:</p>
    <pre><{{ error }}</pre>
</body>

</html>