<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>ePaper Weather Display</title>
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="static/script.js"></script>
</head>

<body>
  <div id="today-header">
    <span id="today-date-weekday"></i>{{ today.strftime('%A') }}</span>
    <span id="today-date-daymonth">
      <div id="today-date-day">
        {{ today.day }}<sup>{{ ['th', 'st', 'nd', 'rd'][[(today.day|string)[-1]|int, 4]|min % 4] }}</sup>
      </div>
      {{ today.strftime('%b') }}
    </span>
  </div>

  <div id="today-shorttext">{{ data.daily[0].short_text }}</div>

  <img class="icon" id="today-icon" src="static/icons/{{ data.daily[0].icon_descriptor }}.svg" alt="??">

  <div id="today-temps">
    {% if data.daily[0].temp_min %}
    <span>
      <div class="today-temps-heading">Min</div>
      <div class="today-temps-numeral">{{ data.daily[0].temp_min }}&deg;</div>
    </span>
    {% endif %}
    <span>
      <div class="today-temps-heading">Max</div>
      <div class="today-temps-numeral temps-max">{{ data.daily[0].temp_max }}&deg;</div>
    </span>
    {% if not data.daily[0].temp_min %}
    {% if data.daily[0].now.now_label == 'Overnight Min' %}
    <span>
      <div class="today-temps-heading">Min tonight</div>
      <div class="today-temps-numeral">{{ data.daily[0].now.temp_now }}&deg;</div>
    </span>
    {% elif data.daily[0].now.later_label == 'Overnight Min' %}
    <span>
      <div class="today-temps-heading">Min tonight</div>
      <div class="today-temps-numeral">{{ data.daily[0].now.temp_later }}&deg;</div>
    </span>
    {% else %}
    <span>
      <div class="today-temps-heading">{{ data.daily[0].now.later_label }}</div>
      <div class="today-temps-numeral">{{ data.daily[0].now.temp_later }}&deg;</div>
    </span>
    {% endif %}
    {% endif %}
  </div>

  <div id="today-stats-rain">
    <div class="today-stats-heading">Rain</div>
    <div class="today-stats-line">
      <span class="today-stats-numeral">{{ data.daily[0].rain.chance }}</span>
      <span class="today-stats-units">%</span>
      <span class="today-stats-tail">&nbsp;chance</span>
      {% if data.daily[0].rain.amount.max %}
    </div>
    <div class="today-stats-line">
      <span class="today-stats-numeral">
        {{ data.daily[0].rain.amount.min }}-{{ data.daily[0].rain.amount.max
        }}
      </span>
      <span class="today-stats-units">mm</span>
      <span class="today-stats-tail">&nbsp;of rain</span>
      {% endif %}
    </div>
  </div>

  <div id="today-stats-temp">
    <div class="today-stats-heading">Temp now</div>
    <div class="today-stats-line">
      <span class="today-stats-numeral">{{ (data.obs.temp|float|string).split('.')[0] }}</span>
      <span class="today-stats-decimal">.{{ (data.obs.temp|float|string).split('.')[1] }}&deg;</span>
    </div>
  </div>

  <div id="today-graph">
    <canvas id="today-graph-canvas"></canvas>
  </div>

  <!-- <div id="forecast">
    {% for day in range(3) %}
    <div class="forecast-day">{{ weekdays[today.weekday() + day % 7]|capitalize }}: {{data.daily[day + 1].temp_max }}
    </div>
    {% endfor %}
  </div> -->

  <!-- <img class="icon-small" src="static/icons/clear_night.svg">
  <img class="icon-small" src="static/icons/cloudy.svg">
  <img class="icon-small" src="static/icons/cyclone.svg">
  <img class="icon-small" src="static/icons/dust.svg">
  <img class="icon-small" src="static/icons/fog.svg">
  <img class="icon-small" src="static/icons/frost.svg">
  <img class="icon-small" src="static/icons/hazy.svg">
  <img class="icon-small" src="static/icons/heavy_rain.svg">
  <img class="icon-small" src="static/icons/heavy_showers.svg">
  <img class="icon-small" src="static/icons/light_showers.svg">
  <img class="icon-small" src="static/icons/mostly_sunny.svg">
  <img class="icon-small" src="static/icons/rain.svg">
  <img class="icon-small" src="static/icons/showers.svg">
  <img class="icon-small" src="static/icons/snow.svg">
  <img class="icon-small" src="static/icons/storms.svg">
  <img class="icon-small" src="static/icons/sunny.svg">
  <img class="icon-small" src="static/icons/wind.svg"> -->
</body>

</html>