<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>ePaper Weather Display</title>
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1/dist/chart.umd.min.js"></script>
  <script src="static/script.js"></script>
</head>

<body>
  <div id="today-header">
    <span id="today-date-weekday"></i>{{ today.strftime('%A') }}</span>
    <span id="today-date-daymonth">
      <div id="today-date-day">
        {{ today.day }}<sup>{{ ['th', 'st', 'nd', 'rd'][[(today.day|string)[-1]|int, 4]|min % 4] }}</sup>
      </div>
      {{ today.strftime('%b') }}
    </span>
  </div>

  <div id="today-shorttext">{{ data.daily[0].short_text }}</div>

  <img class="icon" id="today-icon" src="static/icons/{{ data.daily[0].icon_descriptor }}.svg" alt="??">

  <div id="today-temps">
    {% if data.daily[0].temp_min %}
    <span>
      <div class="today-temps-heading">Min</div>
      <div class="today-temps-numeral">{{ data.daily[0].temp_min }}&deg;</div>
    </span>
    {% endif %}
    <span>
      <div class="today-temps-heading">Max</div>
      <div class="today-temps-numeral temps-max">{{ data.daily[0].temp_max }}&deg;</div>
    </span>
    {% if not data.daily[0].temp_min %}
    {% if data.daily[0].now.now_label == 'Overnight Min' %}
    <span>
      <div class="today-temps-heading">Min tonight</div>
      <div class="today-temps-numeral">{{ data.daily[0].now.temp_now }}&deg;</div>
    </span>
    {% elif data.daily[0].now.later_label == 'Overnight Min' %}
    <span>
      <div class="today-temps-heading">Min tonight</div>
      <div class="today-temps-numeral">{{ data.daily[0].now.temp_later }}&deg;</div>
    </span>
    {% else %}
    <span>
      <div class="today-temps-heading">{{ data.daily[0].now.later_label }}</div>
      <div class="today-temps-numeral">{{ data.daily[0].now.temp_later }}&deg;</div>
    </span>
    {% endif %}
    {% endif %}
  </div>

  <div id="today-stats-rain">
    <div class="today-stats-heading">Rain</div>
    <div class="today-stats-line">
      <span class="today-stats-numeral">{{ data.daily[0].rain.chance }}</span>
      <span class="today-stats-units">%</span>
      <span class="today-stats-tail">&nbsp;chance</span>
    </div>
    {% if data.daily[0].rain.amount.max %}
    <div class="today-stats-line">
      <span class="today-stats-numeral">
        {{ data.daily[0].rain.amount.min }}-{{ data.daily[0].rain.amount.max }}
      </span>
      <span class="today-stats-units">mm</span>
      <span class="today-stats-tail">&nbsp;of rain</span>
    </div>
    {% endif %}
  </div>

  <div id="today-stats-temp">
    <div class="today-stats-heading">Temp now</div>
    <div class="today-stats-line">
      <span class="today-stats-numeral">{{ (data.obs.temp|float|string).split('.')[0] }}</span>
      <span class="today-stats-decimal">.{{ (data.obs.temp|float|string).split('.')[1] }}&deg;</span>
    </div>
  </div>

  <div id="today-graph">
    <canvas id="today-graph-canvas"></canvas>
  </div>

  <div id="forecast">
    {% for day in range(1, 4) %}
    <div>
      <div class="forecast-heading">{{ weekdays[(today.weekday() + day ) % 7] }}</div>
      <div class="forecast-shorttext">{{ data.daily[day].short_text }}</div>
      <img class="forecast-icon" src="static/icons/{{ data.daily[day].icon_descriptor }}.svg" alt="??">
      <div class="forecast-temps">
        <span class="forecast-temps-numeral">{{ data.daily[day].temp_min }}&deg;</span>
        <span class="forecast-temps-numeral temps-max">{{ data.daily[day].temp_max }}&deg;</span>
      </div>
      <div id="forecast-stats-rain">
        <div class="forecast-stats-line">
          <span class="forecast-stats-numeral">{{ data.daily[day].rain.chance }}%</span> chance
        </div>
        {% if data.daily[day].rain.amount.max %}
        <div class="forecast-stats-line">
          <span class="forecast-stats-numeral">
            {{ data.daily[day].rain.amount.min }}-{{ data.daily[day].rain.amount.max }}mm
          </span>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>